<a href="https://colab.research.google.com/github/jlhnn2002/PA10/blob/main/CS_DS1100_PA_10_Starter_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Programming Assignment (PA) 10
Complete the cells below following the instructions on Brightspace

In [8]:
# ********* You are ONLY allowed to use pandas in this cell ***********
import pandas as pd
# 0 TODO: load your dataset here to create a dataframe
url= 'https://raw.githubusercontent.com/jlhnn2002/PA10/main/covid_data_csv.csv'
df1=pd.read_csv(url)

# TODO: turn your pandas dataframe into a numpy array using this format:

a=df1.to_numpy()

# ********* End of cell ***********

In [10]:
# Hint: for the questions on PA10, you will need array slicing and for loops
# A cheatsheet containing numpy array slicing is available at
# http://datacamp-community-prod.s3.amazonaws.com/ba1fe95a-8b70-4d2f-95b0-bc954e9071b0
# 1 TODO: ENTER YOUR CODE HERE FOR ANSWERING QUESTION 1
# Don't forget to import numpy
a.shape
a[0:5,0:5]

array([['USA', 35259330, 626509, 29490432, 5142389],
       ['India', 31331145, 420038, 30495352, 415755],
       ['Brazil', 19524092, 547134, 18259711, 717247],
       ['Russia', 6078522, 152296, 5450004, 476222],
       ['France', 5933510, 111565, 5669083, 152862]], dtype=object)

In [11]:
# 2 TODO: ENTER YOUR CODE HERE FOR ANSWERING QUESTION 2
tot_cases=a[:,1]
sum=tot_cases.sum()
print('Total cases in the world =',sum)

Total cases in the world = 193808680

In [14]:
# 3 TODO: ENTER YOUR CODE HERE FOR ANSWERING QUESTION 3
tot_deaths=a[:,2]
total=0
for number in tot_deaths:
  total=total+number
print('Total deaths in the world =', total)

Total deaths in the world = 4157146

In [13]:
# 4 TODO: ENTER YOUR CODE HERE FOR ANSWERING QUESTION 4
tot_cases=a[:,1]
countries=a[:,0]
new_tot_cases=tot_cases[:]
new_countries=countries[:]
max_cases=[]
for i in range(5):
  max_val = -1
  for index in range(len(new_tot_cases)):
    if new_tot_cases[index]>max_val:
      if index not in max_cases:
        max_val=new_tot_cases[index]
        max_cases.append(index)
print('Top 5 countries:')
for j in max_cases:
  print(new_countries[j])

Top 5 countries:
USA
India
Brazil
Russia
France

In [26]:
# 5 TODO: ENTER YOUR CODE HERE FOR ANSWERING QUESTION 5
# Hint: to print a single bar, you can use this command: print('▇')
total_world_cases=0
for cases in tot_cases:
  total_world_cases=total_world_cases+cases
for i in range(5):
  numerator=tot_cases[i]
  percentage=(numerator/total_world_cases)*100
  blocks=round(percentage)
  bars='▇'* blocks
  print(f'{countries[i]:<7}{bars:^2}')

USA    ▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇
India  ▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇
Brazil ▇▇▇▇▇▇▇▇▇▇
Russia ▇▇▇
France ▇▇▇